n8n-workflows/01-quote-automation-basic.json
{
  "name": "Stigg Security - Quote Request Automation",
  "nodes": [
    {
      "parameters": {
        "path": "stigg-quote-request",
        "options": {}
      },
      "id": "webhook-quote-capture",
      "name": "Quote Request Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "stigg-quote-webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ticketId",
              "value": "={{$json.ticketId}}"
            },
            {
              "name": "fullName",
              "value": "={{$json.firstName}} {{$json.lastName}}"
            },
            {
              "name": "priorityLabel",
              "value": "={{$json.priority === 'EMERGENCY' ? '🚨 EMERGENCY' : $json.priority === 'HIGH' ? '⚡ HIGH PRIORITY' : '📋 STANDARD'}}"
            },
            {
              "name": "responseTime",
              "value": "={{$json.priority === 'EMERGENCY' ? '30 minutes' : $json.priority === 'HIGH' ? '1 hour' : '2 hours'}}"
            }
          ]
        },
        "options": {}
      },
      "id": "process-quote-data",
      "name": "Process Quote Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "send",
        "message": {
          "to": "={{$json.email}}",
          "subject": "Quote Request Received - Response Within {{$node['Process Quote Data'].json['responseTime']}} [{{$node['Process Quote Data'].json['ticketId']}}]",
          "body": "Hi {{$node['Process Quote Data'].json['fullName']}},\n\nThank you for your security quote request! We've received your information and our team is already reviewing your needs.\n\n🎯 WHAT HAPPENS NEXT:\n✅ Security specialist assigned (within 15 minutes)\n✅ Initial assessment completed (within 1 hour)\n✅ Detailed quote delivered (within {{$node['Process Quote Data'].json['responseTime']}})\n\n🚨 EMERGENCY? Call 587-210-2167 for immediate response.\n\nYour Reference: {{$node['Process Quote Data'].json['ticketId']}}\n\nBest regards,\nStigg Security Team\n\n---\nStigg Security Inc.\n📞 587-210-2167 | 780-215-2887\n📧 admin@stigg.ca\n🌐 www.stigg.ca"
        }
      },
      "id": "send-confirmation-email",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "YOUR_SLACK_CHANNEL_ID",
        "text": "{{$node['Process Quote Data'].json['priorityLabel']}} NEW QUOTE REQUEST\n\n👤 **{{$node['Process Quote Data'].json['fullName']}}**\n🏢 {{$json.company || 'Individual'}}\n📧 {{$json.email}}\n📞 {{$json.phone}}\n\n🔧 **Service:** {{$json.serviceType}}\n🏗️ **Property:** {{$json.propertyType}}\n💰 **Budget:** {{$json.budget || 'Not specified'}}\n⏰ **Timeline:** {{$json.timeline}}\n📊 **Lead Score:** {{$json.leadScore}}/100\n\n💬 **Message:**\n{{$json.message || 'No additional message'}}\n\n🎫 **Ticket:** {{$node['Process Quote Data'].json['ticketId']}}\n⏱️ **Response Due:** {{$node['Process Quote Data'].json['responseTime']}}"
      },
      "id": "notify-team-slack",
      "name": "Notify Team (Slack)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Quote Requests",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{$json.timestamp}}",
            "Ticket ID": "={{$node['Process Quote Data'].json['ticketId']}}",
            "Name": "={{$node['Process Quote Data'].json['fullName']}}",
            "Email": "={{$json.email}}",
            "Phone": "={{$json.phone}}",
            "Company": "={{$json.company}}",
            "Service Type": "={{$json.serviceType}}",
            "Property Type": "={{$json.propertyType}}",
            "Budget": "={{$json.budget}}",
            "Timeline": "={{$json.timeline}}",
            "Priority": "={{$json.priority}}",
            "Lead Score": "={{$json.leadScore}}",
            "Status": "New",
            "Assigned To": "",
            "Response Due": "={{DateTime.now().plus({minutes: $json.priority === 'EMERGENCY' ? 30 : $json.priority === 'HIGH' ? 60 : 120}).toISO()}}"
          }
        },
        "options": {}
      },
      "id": "log-to-crm",
      "name": "Log to CRM (Google Sheets)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "emergency-condition",
              "leftValue": "={{$json.priority}}",
              "rightValue": "EMERGENCY",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-emergency",
      "name": "Check if Emergency",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "send",
        "message": {
          "to": "YOUR_EMERGENCY_PHONE_NUMBER",
          "message": "🚨 EMERGENCY QUOTE REQUEST\n\nName: {{$node['Process Quote Data'].json['fullName']}}\nPhone: {{$json.phone}}\nService: {{$json.serviceType}}\nTicket: {{$node['Process Quote Data'].json['ticketId']}}\n\nCALL IMMEDIATELY: {{$json.phone}}"
        }
      },
      "id": "emergency-sms",
      "name": "Send Emergency SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "YOUR_EMERGENCY_SLACK_CHANNEL",
        "text": "🚨🚨🚨 EMERGENCY QUOTE REQUEST 🚨🚨🚨\n\n@channel IMMEDIATE ATTENTION REQUIRED\n\n👤 **{{$node['Process Quote Data'].json['fullName']}}**\n📞 **{{$json.phone}}** (CALL NOW)\n📧 {{$json.email}}\n🏢 {{$json.company || 'Individual'}}\n\n🔧 **Service:** {{$json.serviceType}}\n⏰ **Timeline:** {{$json.timeline}}\n📊 **Lead Score:** {{$json.leadScore}}/100\n\n💬 **Urgent Message:**\n{{$json.message}}\n\n🎫 **Ticket:** {{$node['Process Quote Data'].json['ticketId']}}\n⏱️ **Response Required:** 30 MINUTES"
      },
      "id": "emergency-slack-alert",
      "name": "Emergency Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Quote Request Webhook": {
      "main": [
        [
          {
            "node": "Process Quote Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Quote Data": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Team (Slack)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to CRM (Google Sheets)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check if Emergency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Emergency": {
      "main": [
        [
          {
            "node": "Send Emergency SMS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Emergency Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "stigg-quote-automation",
  "tags": []
}