n8n-workflows/02-advanced-lead-routing.json
{
  "name": "Stigg Security - Advanced Lead Routing",
  "nodes": [
    {
      "parameters": {
        "path": "stigg-lead-routing",
        "options": {}
      },
      "id": "webhook-lead-routing",
      "name": "Lead Routing Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "stigg-lead-routing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "service-type-condition",
              "leftValue": "={{$json.serviceType}}",
              "rightValue": "security-guards",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-by-service",
      "name": "Route by Service Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "findEvents",
        "calendarId": "primary",
        "start": "={{DateTime.now().toISO()}}",
        "end": "={{DateTime.now().plus({hours: 2}).toISO()}}",
        "options": {}
      },
      "id": "check-availability",
      "name": "Check Team Availability",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "assignedSpecialist",
              "value": "={{$json.serviceType === 'security-guards' ? 'Security Team Lead' : $json.serviceType === 'surveillance' ? 'Tech Specialist' : $json.serviceType === 'virtual-guard' ? 'AI Systems Expert' : $json.serviceType === 'it-support' ? 'IT Security Manager' : 'General Manager'}}"
            },
            {
              "name": "specialistEmail",
              "value": "={{$json.serviceType === 'security-guards' ? 'guards@stigg.ca' : $json.serviceType === 'surveillance' ? 'tech@stigg.ca' : $json.serviceType === 'virtual-guard' ? 'ai@stigg.ca' : $json.serviceType === 'it-support' ? 'it@stigg.ca' : 'admin@stigg.ca'}}"
            },
            {
              "name": "estimatedResponseTime",
              "value": "={{$json.priority === 'EMERGENCY' ? '30 minutes' : $json.priority === 'HIGH' ? '1 hour' : '2 hours'}}"
            }
          ]
        },
        "options": {}
      },
      "id": "assign-specialist",
      "name": "Assign Specialist",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "send",
        "message": {
          "to": "={{$node['Assign Specialist'].json['specialistEmail']}}",
          "subject": "🎯 NEW LEAD ASSIGNED - {{$node['Assign Specialist'].json['assignedSpecialist']}} [{{$json.ticketId}}]",
          "body": "Hi {{$node['Assign Specialist'].json['assignedSpecialist']}},\n\nA new {{$json.serviceType}} lead has been assigned to you:\n\n👤 **Client:** {{$json.firstName}} {{$json.lastName}}\n🏢 **Company:** {{$json.company || 'Individual'}}\n📧 **Email:** {{$json.email}}\n📞 **Phone:** {{$json.phone}}\n\n🔧 **Service:** {{$json.serviceType}}\n🏗️ **Property:** {{$json.propertyType}}\n💰 **Budget:** {{$json.budget || 'Not specified'}}\n⏰ **Timeline:** {{$json.timeline}}\n📊 **Lead Score:** {{$json.leadScore}}/100\n🚨 **Priority:** {{$json.priority}}\n\n💬 **Client Message:**\n{{$json.message || 'No additional message'}}\n\n⏱️ **RESPONSE REQUIRED WITHIN:** {{$node['Assign Specialist'].json['estimatedResponseTime']}}\n\n🎫 **Ticket ID:** {{$json.ticketId}}\n\n---\nNext Steps:\n1. Review client requirements\n2. Prepare initial assessment\n3. Contact client within timeframe\n4. Update CRM with progress\n\nStigg Security Team"
        }
      },
      "id": "notify-specialist",
      "name": "Notify Assigned Specialist",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "calendarId": "primary",
        "start": "={{DateTime.now().plus({minutes: 15}).toISO()}}",
        "end": "={{DateTime.now().plus({minutes: 45}).toISO()}}",
        "subject": "Follow up: {{$json.firstName}} {{$json.lastName}} - {{$json.serviceType}}",
        "description": "Lead follow-up call\n\nClient: {{$json.firstName}} {{$json.lastName}}\nCompany: {{$json.company}}\nPhone: {{$json.phone}}\nEmail: {{$json.email}}\n\nService: {{$json.serviceType}}\nPriority: {{$json.priority}}\nTicket: {{$json.ticketId}}\n\nNotes: {{$json.message}}",
        "options": {
          "attendees": [
            "={{$node['Assign Specialist'].json['specialistEmail']}}"
          ]
        }
      },
      "id": "schedule-follow-up",
      "name": "Schedule Follow-up",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Quote Requests",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Assigned",
            "Assigned To": "={{$node['Assign Specialist'].json['assignedSpecialist']}}",
            "Follow-up Scheduled": "={{DateTime.now().plus({minutes: 15}).toFormat('yyyy-MM-dd HH:mm')}}"
          }
        },
        "filters": {
          "conditions": [
            {
              "column": "Ticket ID",
              "condition": "equal",
              "value": "={{$json.ticketId}}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-crm-status",
      "name": "Update CRM Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1120, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Lead Routing Webhook": {
      "main": [
        [
          {
            "node": "Route by Service Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Service Type": {
      "main": [
        [
          {
            "node": "Check Team Availability",
            "type": "main",
            "index": 0
          },
          {
            "node": "Assign Specialist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Specialist": {
      "main": [
        [
          {
            "node": "Notify Assigned Specialist",
            "type": "main",
            "index": 0
          },
          {
            "node": "Schedule Follow-up",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update CRM Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "stigg-lead-routing",
  "tags": []
}